*{
	margin: 0;
	padding: 0;
}

html,body{
	height:100%;
	width:100%;
}

.container{
	position: absolute;
	height: 100%;
	width: 100%;
}

#topArea{
	height: 70%;
	top:0;
}

#toolbar{
	width:10%;
	left: 0;
}
#showArea{
	width: 70%;
	left: 10%;

}
#operate{
	width: 20%;
	left: 80%;
}

#timeline{
	height: 30%;
	width: 100%;
	left: 0;
	bottom: 0;
}